.footer {
  height: 50px;
  width: 100%;
  padding: 0 45px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  font-size: 12px;
  background-color: #ffffff;
  color: #707070;
  border-top: 1px solid #f0f0f0;
  box-sizing: border-box;
}

.leftSection,
.rightSection {
  display: flex;
  gap: 15px;
  white-space: nowrap;
}

.leftSection span,
.rightSection span {
  cursor: pointer;
  transition: color 0.2s;
}

.leftSection span:hover,
.rightSection span:hover {
  color: #ff385c;
}
